<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--对象关系映射文件——将原生java对象(POJO)与数据库表相关联
对持久层的sql语句进行映射
namespace等于mapper接口类路径，这样实现通过映射文件找到对应的mapper接口是哪个-->
<mapper namespace="com.yb.yue.ba.admin.mapper.FriendCircleMessageMapper">
    <!--查询所有语句-->
    <sql id="allColumns">
        SELECT
          a.id,
          a.uid,
          a.content,
          a.picture,
          a.location,
          a.created,
          a.praise_num AS praiseNum,
          b.username as uname,
          b.picture  as image
        FROM
          yb_friend_cirle_message AS a
    </sql>
    <sql id="left">
        LEFT JOIN yb_user AS b ON a.uid=b.id
    </sql>

    <!--通过用户id获取朋友圈消息 按创建时间排序-->
    <select id="getFriendMessageByUid" resultType="FriendCircleMessage">
        <include refid="allColumns"></include>
        <include refid="left"></include>
        where a.id in
        (SELECT c.fcmid from yb_timeline as c where c.uid=#{id} and c.is_own=0)
        ORDER By a.created DESC
    </select>

    <!--通过用户id获取自己的朋友圈 -->
    <select id="getOwnMessageByUid" resultType="FriendCircleMessage">
        <include refid="allColumns"></include>
        <include refid="left"></include>
        WHERE a.uid=#{id}
        ORDER By a.created DESC
    </select>

    <!--通过id获取对象-->
    <select id="getById" resultType="FriendCircleMessage">
        <include refid="allColumns"></include>
        <include refid="left"></include>
        WHERE a.id=#{id}
    </select>

    <!--添加-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO yb_friend_cirle_message
        (
          uid,
          content,
          picture,
          location,
          created
        )
        values
        (
          #{uid},
          #{content},
          #{picture},
          #{location},
          #{created}
        )
    </insert>

    <!--编辑朋友圈点赞数-->
    <update id="update">
        update
        yb_friend_cirle_message
        set
        praise_num=#{praiseNum}
        where
        id=#{id}
    </update>

    <!--删除-->
    <delete id="delete">
        DELETE  FROM  yb_friend_cirle_message
        where id=#{id}
    </delete>

</mapper>